<html>
    <head>
        <meta charset="utf-8">
        <title>Dashboard</title>
        <meta name="description" content="Pokes">
        {% load static %}
        <link rel="stylesheet" href="{% static 'pokes/css/dashboard.css' %}" media="screen" title="no title"  charset="utf-8">
        <!-- 
        <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        {% load static %}
        <script type="text/javascript" src="{% static 'pokes/js/dashboard.js' %}"></script>
         -->
    </head>
    <body>
        
        <div id="container">
           {% if messages %}
           <div class="messages">
               {% for message in messages %}
               <p>{{ message }}</p>
               {% endfor %}
           </div>
           {% endif %}
           
	       <h1>Welcome, {{ request.session.alias }} !</h1>
	       <p>{{ pokers.count }} people poked you!</p>
	       <br>
	       <br>
	       <p><a href="/pokes/logout">Logout</a></p>
           <br>
           <br>
           <div class="poked_by">
	           {% for poker in pokers.all %}
	                <p> {{ poker.poker_alias }} poked you {{ poker.total_pokes }} times</p>
	           {% empty %}
	                <p>No one has poked you yet</p>
	           {% endfor %}
           </div>
           
            <h3>People you may want to poke:</h3>
            <table style="width:75%">
                <thead>
                      <tr>
                        <th>Name</th> 
                        <th>Alias</th>
                        <th>Email Address</th>
                        <th>Poke History</th>
                        <th>Action</th>
                      </tr>
                 </thead>
                 <tbody>
                     {% for poked in users %}
                     <tr>
                         <td>{{ poked.name }}</td>
                         <td>{{ poked.alias }}</td>
                         <td>{{ poked.email }}</td>
                         <td>{{ poked.total_pokes }} pokes</td>
                         <td><a href="/pokes/poke/{{ poked.id }}">Poke!</a></td>
                     </tr>
                     {% empty %}
                        <p>No other users yet</p>
                     {% endfor %}
                     
                      
                 </tbody>
            </table>
       
       </div>
    </body>
</html>